---
DATA_ROOT: /path/to/data
INSTRUMENT: neid_solar
INPUT_VERSION: 1.1
MANIFEST_VERSION: 1.1
CCFS_VERSION: 1.1
REPORT_VERSION: 1.1
USER_ID: my_username
PIPELINE_ID: test1
JULIA: /path/to/julia
NEID_SOLAR_SCRIPTS: /path/to/NeidSolarScripts.jl
params:
  orders_first: 56
  orders_last: 108
  range_no_mask_change: 6.0
  calc_order_ccfs_flags: "--apply_continuum_normalization --variable_mask_scale"

